/********** Base styles **********/
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: Arial;

}

section {
  position:relative;
  background-color: grey;
  border: 1px;
  border-color:black;
  border-style: solid;
  border-width: thick;
  padding: 15px;
  padding-top: 30px;
  margin: 5px;
  
  
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/* Titles. */
h1 {
  font-style:bold;
  font-size:175%;
  font-family: Helvetica;
  text-align:center;
  margin:15px;
  padding: 15px;
  margin-bottom: 30px;
}

h2.sectionTitle {
  border:1px;
  border-color: black;
  border-style: solid;
  border-width: thick;
  border-top-style: none;
  border-right-style: none;
  position:absolute;
  font-size:125%;
  width:45%;
  text-align: center;
  top:0;
  right:0;
}
#sushi {
  background-color: orange;
}
#chicken{
  background-color: yellow;
}
#beef{
  background-color: red;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    
  }
  .col-lg-1 {
    width: calc(8.33% - 10px);
  }
  .col-lg-2 {
    width: calc(16.66% - 10px);
  }
  .col-lg-3 {
    width: calc(25% - 10px);
  }
  .col-lg-4 {
    width: calc(33.33% - 10px);
  }
  .col-lg-5 {
    width: calc(41.66% - 10px);
  }
  .col-lg-6 {
    width: calc(50% - 10px);
  }
  .col-lg-7 {
    width: calc(58.33% - 10px);
  }
  .col-lg-8 {
    width: calc(66.66% - 10px);
  }
  .col-lg-9 {
    width: calc(74.99% - 10px);
  }calc(
  .co-10px)l-lg-10 {
    width: calc(83.33% - 10px);
  }
  .col-lg-11 {
    width: calc(91.66% - 10px);
  }
  .col-lg-12 {
    width: calc(100% - 10px);
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    
  }
  .col-md-1 {
    width: calc(8.33% - 10px);
  }
  .col-md-2 {
    width: calc(16.66% - 10px);
  }
  .col-md-3 {
    width: calc(25% - 10px); }
  .col-md-4 {
    width: calc(33.33% - 10px);
  }
  .col-md-5 {
    width: calc(41.66% - 10px);
  }
  .col-md-6 {
    width: calc(50% - 10px);}
  .col-md-7 {
    width: calc(58.33% - 10px);
  }
  .col-md-8 {
    width: calc(66.66% - 10px);
  }
  .col-md-9 {
    width: calc(74.99% - 10px);
  }
  .col-md-10 {
    width: calc(83.33% - 10px);
  }
  .col-md-11 {
    width: calc(91.66% - 10px);
  }
  .col-md-12 {
    width: calc(100% - 10px);  
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sd-1, .col-sd-2, .col-sd-3, .col-sd-4, .col-sd-5, .col-sd-6, .col-sd-7, .col-sd-8, .col-sd-9, .col-sd-10, .col-sd-11, .col-sd-12 {
    float: left;
    
  }
  .col-sd-1 {
    width: calc(8.33% - 10px);
  }
  .col-sd-2 {
    width: calc(16.66% - 10px);
  }
  .col-sd-3 {
    width: calc(25% - 10px); }
  .col-sd-4 {
    width: calc(33.33% - 10px);
  }
  .col-sd-5 {
    width: calc(41.66% - 10px);
  }
  .col-sd-6 {
    width: calc(50% - 10px); 
  }
  .col-sd-7 {
    width: calc(58.33% - 10px);
  }
  .col-sd-8 {
    width: calc(66.66% - 10px);
  }
  .col-sd-9 {
    width: calc(74.99% - 10px);
  }
  .col-sd-10 {
    width: calc(83.33% - 10px);
  }
  .col-sd-11 {
    width: calc(91.66% - 10px);
  }
  .col-sd-12 {
    width: calc(100% - 10px); }
}


